<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Dog</title>
  </head>
  <body>
    <h1>Edit Dog</h1>
    <a href="./delete"><button type="button" name="delete">Delete a dog</button></a>

    <h2>Change Info</h2>
    <form action="/dogs" method="post">
      <label for="newDogName"></label>
      <input id="newDogName" type="text" name="name" placeholder="new name">
      <label for="newDogAge"></label>
      <input id="newDogAge" type="text" name="age" placeholder="new age">
      <input type="submit" value="Submit New Info">
    </form>
  </body>
</html>
