<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Doglist Home</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Doglist</h1>
    <a href="./dogs/new"><button type="button" name="create">Add a new dog</button>
</a>
  </body>
</html>
