<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>create a dog</h1>
    <form action="/dogs" method="post">
      <label for="dogName"></label>
      <input id="dogName" type="text" name="name" placeholder="name">
      <label for="dogAge"></label>
      <input id="dogAge" type="text" name="age" placeholder="age">
      <input type="submit" value="Create New Dog">
    </form>
  </body>
</html>
